body{
    font-family: sans-serif;
}



.login{
   width: 300px;
   height: 350px;
   border: 2px solid grey; 
   border-radius: 10px;
   text-align: center;
   margin: 0 auto;
   background-color: white;
   margin-top: 50px;
}
h3{
    padding-top: 25px;
    display: inline-block;
    color: #868787;
}
#TK{
    margin-top: 15px;
}
label{
    float: left;
}
.title{
    width: 270px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 20px;
    display: inline-block;
}
.button{
    width: 270px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #45a049;
    color: white;
    margin-top: 10px;
}
.button:hover{
    width: 270px;
	height: 44px;
}

.NhapSai{
    text-align:center;
    font-size: 15px;
    color: greenyellow;
}